Source: lastradio
Section: devel
Priority: extra
Maintainer: Martin Borho <martin@borho.net>
Build-Depends: debhelper (>= 7.0.50~),
               golang-go, 
               portaudio19-dev, 
               qtbase5-private-dev, 
               qtdeclarative5-private-dev, 
               libqt5opengl5-dev
Standards-Version: 0.1.1
Homepage: https://bitbucket.org/mborho/lastspotify/overview

Package: lastradio
Architecture: amd64
Section: misc
Depends: golang-go,
         qtdeclarative5-qtquick2-plugin,
         qtdeclarative5-window-plugin,
         qtdeclarative5-localstorage-plugin,
         qtdeclarative5-controls-plugin,
         libportaudio2
         ${misc:Depends},
Description: Simple Last.fm player
